* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, h1, h2, h3, ul, p {
    margin: 0;
    padding: 0;
}

#header {
    background-color: #177165;
    height: 895px;
    z-index: 2345678;
}
.container {
    width: 100%;
    background-color: #177165;
    /* position: fixed; */
    height: 107px;

}

.navbar {
    float: left;
    display: flex;
    margin-left: 236px;
    padding: 29px 0px 29px;
}
.navbar li {
    display: inline;
}
.navbar li a {
     text-decoration: none;
     color: #fff;
     font-family: sans-serif;
     padding: 20px;
     display: inline-block;
}
.navbar li a:hover {
    color: red;
}
.framzi {
    float: left;
    padding-top: 29px;
    padding-left: 70px;
}

.tell {
    display: flex;
    float: left;
    margin-left: 311px;
    padding-top: 31px;
}

.raqam {
    color: white;
    margin-left: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.asdf {
    padding: 100px 100px;
    background-color: red;

    margin-left: 200px;
    text-align: center;
    margin-right: 200px;
    transform: translate(50%);
}

.head {
    margin: 0 auto;
    width: 80%;
}

.hed {
    background-color: lightcoral;
    padding: 100px 0;
    text-align: center;
    color: white;
    margin: 120px 0;
    animation: news 1s ease infinite alternate;
    border: 1px solid red;
}

@keyframes news {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.893);
    }

    100% {
        box-shadow: 0 10px 10px rgba(17, 10, 10, 0.878);
        border-radius: 60px 0 60px 0;
    }
}

.spin {
    margin: 200px 200px;
    text-align: center;
    width: 1000px;
    background-color: yellow;
    animation: spin 2s infinite alternate;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
        transform-origin: left;
    }

    to {
        transform-origin: left;
        transform: rotate(560deg);
    }
}

.scale {
    text-align: center;
    padding: 100px 300px;
    background-color: cornsilk;
    margin-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
    animation: scale 2s infinite alternate;
}

@keyframes scale {
    33% {
        background-color: red;
        transform: scale(.4);
    }

    66% {
        background-color: blue;
        transform: scale(.9);
    }

    100% {
        background-color: yellow;
        transform: scale(1.2);
    }
}

.skew {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: 50px;
    margin-bottom: 50px;
    animation: skew 2s infinite alternate;
    background-color: rgb(180, 196, 210);
    margin-left: 200px;
    margin-right: 200px;
}

@keyframes skew {
    0% {
        transform: skew(-40deg);
    }

    100% {
        transform: skew(40deg);
    }
}

.translate {
    text-align: center;
    width: 300px;
    margin: 200px auto;
    padding: 100px 100px;
    background-color: chocolate;
    animation: translate 1s infinite alternate;
}

@keyframes translate {
    0% {
        transform: translate(0px, 0px);
    }

    100% {
        transform: translate(100px, 100px);
        box-shadow: -5px -5px 0 rgba(0, 0, 10, 1), -10px -10px 0 rgba(0, 0, 10, 0.5),
        -12px -12px rgba(0, 0, 10, 0.6);

    }
}