* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, h1, h2, h3, ul, p {
    margin: 0;
    padding: 0;
}

#header {
    background-color: #177165;
    height: 895px;
}
.container {
    width: 100%;
    background-color: #177165;
    position: fixed;
    height: 107px;

}

.navbar {
    float: left;
    display: flex;
    margin-left: 236px;
    padding: 29px 0px 29px;
}
.navbar li {
    display: inline;
}
.navbar li a {
     text-decoration: none;
     color: #fff;
     font-family: sans-serif;
     padding: 20px;
     display: inline-block;
}
.navbar li a:hover {
    color: red;
}
.framzi {
    float: left;
    padding-top: 29px;
    padding-left: 70px;
}

.tell {
    display: flex;
    float: left;
    margin-left: 311px;
    padding-top: 31px;
}

.raqam {
    color: white;
    margin-left: 20px;
}


.hr {
    margin-top: -676px;
    margin-bottom: 20px;
    margin-left: 155px;
}
.make {
    margin-left: 210px;
    margin-top: -28px;
}
.pi {
    margin-left: 155px;
    font-size: 55px;
    width: 35%;
    margin-top: 20px;
}
.hrr {
    margin-left: 150px;
    margin-top: 30px;
}
.Marcus {
    margin-left: 200px;
    margin-top: -10px;
}
.button {
    margin-left: 150px;
    margin-top: 68px;
    padding: 10px 71px;
}
.uwa {
    display: flex;
    color: white;
}
.bogbon {
    margin-top: -740px;
    margin-right: 200px;
}
.hhh {
    margin-left: 120px;
    margin-top:101px;
}
.Company {
    margin-left: 50px;
    margin-top: -10px;
}
.font {
    font-size: 40px;
    width: 60%;
    color: #177165;
    margin-top: 10px;
    margin-bottom: 52px;
}
.qiz {
    margin-left: 120px;
}
.yashil {
    color: #177165;
    margin-left: 200px;
    font-size: 32px;
}
.nmdr {
    display: flex;
}
.lorm {
    margin-left: 200px;
    width: 400px;
}
.lor {
    margin-left: 200px;
    width: 400px;
    margin-top: 17px;
    font-size: 30px;
    color: #177165;
}
.and {
    margin-left: 200px;
    margin-top: 35px;
    color: #177165;
    margin-bottom: 26px;
    font-family: 'Playfair Display';
}
.Ipsum {
    margin-left: 200px;
    width: 400px;
    font-family: 'Roboto';
    margin-bottom: 15px;
}
.simply {
    margin-left: 200px;
    width: 400px;
    margin-bottom: 104px;
}
.More {
    margin-left: 200px;
    padding: 10px 60px;
    color: #177165;
    border: 1px solid #177165;
}
.p {
    margin-top: 100px;
}
.bir {
    background-color: #E1F4F2;
    width: 100%;
    height: 90vh;
    margin-top: 100px;
    padding-top: 114px;
}
.birrr {
    margin-left: 120px;
}
.ppi {
    margin-left: 170px;
    margin-top: -10px;
    color: #A4D6CF;
}
.ppii {
    margin-left: 120px;
    margin-top: 10px;
    font-size: 50px;
    color: #177165;
    width: 70%;
}
.usta {
    margin-top: 52px;
    margin-left: 120px;
}
.ustaa {
    margin-top: 30px;
    margin-left: 120px;
}
.Planting {
    margin-left: 120px;
    margin-top: 5px;
}
.cvb {
    display: flex;
}
.ikkinchirasm {
    margin-left: 90px;
    margin-top: 52px;
}
.osim {
    margin-left: 90px;
    margin-top: 52px;
}
.suvv {
    margin-top: 52px;
    margin-left: 90px;
}
.usta1 {
    margin-left: 90px;
    margin-top: 30px;
}
.usta2 {
    margin-top: 5px;
    margin-left: 90px;
    color: #177165;
}
.usta3 {
    margin-top: 30px;
    margin-left: 90px;
}
.usta4 {
    margin-top: 5px;
    margin-left: 90px;
    color: #177165;
}
.usta5 {
    margin-top: 30px;
    margin-left: 90px;
}
.usta6 {
    margin-top: 5px;
    margin-left: 90px;
    color: #177165;
}
.buttonn {
    padding: 10px 60px;
    margin-top: 50px;
    margin-left: 670px;
}
.dfgh {
    background-color: #177165;
    width: 100%;
    height: 375px;
}
.rttr {
    margin-left: 120px;
    padding-top: 50px;

}
.yfh {
    margin-left: 170px;
    margin-top: -8px;
    color: #A4D6CF;
}
.display {
    display: flex;
    
}
.kattaa {
    font-size: 34px;
    width: 50%;
    font-family: 'Playfair Display';
    margin-left: 120px;
    margin-top: -280px;
    color: #fff;
}
.telefonn {
    margin-left: 120px;
    margin-top: -200px;
}
.uff {
    color: #A4D6CF;
    margin-left: 200px;
    margin-top: -50px;
}
.nematullo {
    margin-left: 200px;
    color: #fff;
    margin-top: 5px;
}

.kdfy {
    margin-left: 600px;
    margin-top: -533px;
}
.mathew {
    margin-left: 1100px;
    margin-top: -533px;
}
.pannel {
    width: 100%;
}

.team-members-text {
    display: flex;
    padding-left: 633px;
}
.tem-members-hr {
    padding-top: 114px;
}

.members-h3 {
    padding-top: 103px;
    padding-left: 10px;
    display: flex;
    color: #777777;
}
.team-members-text p {
    display: flex;
    padding-top: 140px;
    font-size: 48px;
    margin-left: -175px;
    color: #177165;
}

.founder-of-farmzi {
    margin-left: 120px;
    margin-top: 52px;
    color: #777777;
}

.shoshana-text {
    margin-top: 42.19px;
}
.Founder {
    margin-left: 50px;
    margin-top: -10px;
}

.name-shoshana {
    padding-top: 10px;
    font-size: 26px;
    color: #177165;
}
.lorem-shoshana {
    margin-top: 18px;
    font-size: 15px;
}
.shoshana-p {
    width: 20%;
}


/* kristine */
.senior-gardener {
    margin-left: 120px;
    margin-top: 52px;
    color: #777777;
    margin-left: 547px;
    margin-top: -677px;
}

.garden-designer {
    margin-left: 120px;
    margin-top: 52px;
    color: #777777;
    margin-left: 980px;
    margin-top: -695px;
}

.senior-text {
    margin-top: 42.19px;
}
.Senior {
    margin-left: 50px;
    margin-top: -10px;
}

.name-senior {
    padding-top: 10px;
    font-size: 26px;
    color: #177165;
}
.lorem-senior {
    margin-top: 18px;
    font-size: 15px;
}
.senior-p {
    width: 20%;
}
.garden-p {
    width: 40%;
}








.barg {
    background-color: #177165;
    width: 100%;
    height: 45vh;
    margin-top: 100px;
    margin-bottom: 50px;
}

.rrtt {
    margin-left: 120px;
    padding-top: 114px;
}

.intro {
    margin-left: 170px;
    margin-top: -7px;
}

.See {
    margin-left: 120px;
    margin-top: 20px;
    font-size: 40px;
    color: white;
    font-family: 'Playfair Display';
    width: 28%;
}

.bargg {
    margin-left: 700px;
    margin-top: -285px;
}

.obhavo {
    background-color:  #E1F4F2;
    width: 80%;
    height: 30vh;
    margin-left: 150px;
    margin-bottom: 200px;

}

.sakkiz {
    font-size: 45px;
    margin-left: 100px;
    padding-top: 100px;
}

.qwertyy {
    margin-left: 80px;
    padding-top: 40px;
}

.erty {
    margin-left: 130px;
    margin-top: -10px;
    color: #777777;
}

.obhavo2 {
    margin-left: 500px;
    margin-top: -370px;
}

.yetti {
    font-size: 40px;
}

.laa {
    padding-top: 40px;
}

.hap {
    margin-left: 50px;
    margin-top: -10px;
}

.ikkiyuz {
    font-size: 40px;
}

.obhavo3 {
    margin-left: 770px;
    margin-top: -100px;
}

.oplk {
    margin-top: 40px;
}

.member {
    margin-left: 50px;
    margin-top: -10px;
}

.obhavo4 {
    margin-left: 1060px;
    margin-top: -97px;
}

.toqson {
    font-size: 40px;
}
.ujn {
    margin-top: 40px;
}

.award {
    margin-left: 50px;
    margin-top: -10px;
}

.obh {
    margin-bottom: 200px;
}

.ish {
    background-size: cover;
    margin-left: 160px;
    margin-bottom: 100px;
    z-index: 456789;
    background-image: url(../img/ish.png);
    width: 80%;
    height: 40vh;
}
.fon {
    background-color: #177165;
    margin-right: 1150px;
    margin-top: -307px;
    padding: 50px 30px;
    color: white;
    margin-left: 160px;
    background-color: #177165;
    margin-bottom: 200px;
}

.yarim {
    background-image: url(../img/ish.png);
    width: 60px;
    height: 40vh;
    float: right;
    margin-top: -570px;
    margin-bottom: 200px;
}

.buttoonn {
    padding: 30px 35px;
    margin-left: 100px;
    margin-top: -100px;
}
.buto {
    padding: 30px 35px;
    margin-left: 150px;
    margin-top: -100px;
}

.asdfghjh {
    background-color: #E1F4F2;;
    width: 100%;
    height: 90vh;
}
.q {
    margin-left: 120px;
    padding-top: 114px;
}

.w {
    margin-left: 170px;
    margin-top: -10px;
    color: #777777;
}

.e {
    margin-left: 120px;
    font-size: 45px;
    color: #177165;
    font-family: 'Playfair Display';

}
.olti {
    margin-left: 500px;
    margin-top: 80px;
    background-color: #fff;
    padding: 100px 200px;

}

.y {
    color: #177165;
    margin-left: 500px;
    margin-right: 500px;
    font-size: 22px;
    margin-top: -250px;
}
.i {
    margin-left: 500px;
    margin-top: 20px;
}
.a {
    margin-left: 500px;
    margin-top: 20px;
}
.s {
    margin-left: 700px;
}
.sdfgh {
    background-color: white;
    padding: 100px 0px;
    float: right;
    margin-top: -570px;
}
.n {
    margin-top: -150px;
    margin-left: 13px;
}

.ijnd {
    background-color: #fff;
    margin-top: -570px;
    padding: 100px 0px;
float: left;
}
.zxcvbjh {
    margin-top: -480px;
}
.ygfv {
    margin-left: 120px;

}

.ybunim {
    margin-left: 180px;
    margin-top: -10px;
}
.ugces {
    margin-left: 120px;
    font-size: 48px;
    width: 70%;
    color: #177165;
    font-family: 'Playfair Display';
    margin-bottom: 200px;
}
.sabzi {
    margin-left: 120px;

}

.qwerh1 {
    margin-left: 120px;
    color: #177165;
    margin-top: 20px;
}
.qwerh2 {
    margin-left: 120px;
    margin-left: 165px;
    margin-top: -18px;

}
.qwerh3 {
    margin-left: 120px;
    color: #177165;
    margin-left: 300px;
    margin-top: -20px;
}
.qwerh4 {
    margin-left: 120px;
    margin-left: 340px;
    margin-top: -18px;
}

.xdtcfvgh {
    margin-bottom: 50px;
}
.qwerh5 {
    margin-top: 20px;
    margin-left: 120px;
    font-size: 25px;
    color: #177165;
    width: 25%;
}
.qwerh6 {
    margin-left: 120px;
    margin-top: 20px;
    color: #777777;
    width: 25%;
}
.qwerh7 {
    margin-left: 120px;
    margin-top: 20px;
    padding: 10px 60px;
}
.qwerh8 {
    margin-left: 450px;
    margin-top: -293px;
}


.qwe1 {
    margin-left: 455px;
    color: #177165;
    margin-top: 20px;
}
.qwe2 {
    margin-left: 500px;

    margin-top: -18px;
}
.qwe3 {
    margin-left: 630px;
    color: #177165;

    margin-top: -20px;
}
.qwe4 {
    margin-left: 660px;

    margin-top: -18px;
}
.qwe5 {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 460px;
    color: #177165;
    width: 37%;
}
.qwe6 {
    color: #777777;
    margin-top: 20px;
    margin-left: 460px;
}
.qwe7 {
    margin-top: 20px;
    padding: 10px 60px;
    margin-left: 460px;
}
.iop1 {
    background-color:  #E1F4F2;
    padding: 80px 0px;
}
.iop2 {
    margin-left: 120px;
}
.iop3 {
    margin-left: 150px;
}
.iop4 {
    margin-left: 200px;
}
.iop5 {
    margin-left: 200px;
}
.iop6 {
    margin-left: 200px;
}
.bnm1 {
    background-color: #177165;
    width: 100%;
    height: 80vh;
    color: #fff;
}
.bnm2 {
    color: #fff;
    margin-left: 120px;
    padding-top: 166px;
}
.bnm3 {
    color: #fff;
    margin-left: 270px;
    margin-top: -26px;

}
.bnm4 {
    color: #fff;
    margin-left: 450px;
    margin-top: -26px;
}
.bnm5 {
    color: #fff;
    margin-top: 50px;
    margin-left: 120px;
}
.bnm6 {
    color: #fff;
    margin-left: 270px;
    margin-top: -19px;
}
.bnm7 {
    color: #fff;
    margin-left: 450px;
    margin-top: -19px;
}
.bnm8 {
    margin-left: 120px;
    margin-top: 30px;
}
.bnm9 {
    margin-left: 270px;
    margin-top: -19px;
    
}
.bnm10 {
    margin-left: 450px;
    margin-top: -19px;
}
.jkl1 {
    margin-left: 120px;
    margin-top: 30px;
}
.jkl2{
    margin-left: 270px;
    margin-top:-19px;
}
.jkl3 {
    margin-left: 450px;
    margin-top: -19px;
}
.jkl12 {
    margin-left: 700px;
    margin-top: -300px;
    background-color:  #23786D;
    margin-right: 400px;
    padding: 100px 0px 200px 50px;
}
.jkl13 {
    margin-top: 100px;
}
.tell13 {
    display: flex;
    float: left;

    padding-top: 31px;
}
.raqam13 {
    margin-left: 20px;
}
.passs1 {
    text-align: center;
    margin-top: 130px;
    background-color: #0A312C;
    padding: 30px;
}